<!DOCTYPE html>
<html>
<head>
  <title>Rock, Paper, Scissors</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>


